
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ПАРСЕР HH | Поиск</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Pervasive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/static/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <h1>
                    <a class="navbar-brand text-white" href="index.html">
                       <i class="far fa-copyright"></i>
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/">Главная
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
						<li class="nav-item active mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/services/">Поиск</a>
                        </li>
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/contact/">Контакты</a>
                        </li>
                    </ul>
                </div>
			</nav>
        </header>
        <!-- //header -->
        
    </div>
	 <!-- //banner-text -->
	  <!--services-->
    <div class="agileits-services py-md-5 py-4">
        <div class="container py-lg-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="tittle-w3ls pb-4">Форма для ввода данных</h3>
                <form method="post" class="f-color pt-3">
                            <div class="form-group">
                                <label for="search">Введите вакансию</label>
                                <input type="text" class="form-control" id="search" name="search" required>
                            </div>
                            <div class="form-group">
                                <label for="per_page">Введите количество вакансий</label>
                                <input type="text" class="form-control" id="per_page" name="per_page" required>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Найти</button>
                        </form>

            </div>
            {% if methods == 'POST' %}
            <div class="text-left">
                <table border="1">
                    <th class="text-center">
                       Вакансия
                    </th>
                    <th class="text-center">
                       Город
                    </th>
                    <th class="text-center">
                       Зарплата
                    </th>
                    {% for dct in lst %}
                    <tr>
                        <td>
                            {{ dct.name }}
                        </td>
                        <td class="text-center">
                            {{ dct.city }}
                        </td>
                        <td class="text-center">
                            {% if dct.salary.from != None and dct.salary.to != None %}
                            {{dct.salary.from}} - {{dct.salary.to}} {{dct.salary.currency}}
                            {% elif dct.salary.from != None and dct.salary.to == None %}
                            от {{dct.salary.from}} {{dct.salary.currency}}
                            {% elif dct.salary.from == None and dct.salary.to != None %}
                            до {{dct.salary.to}} {{dct.salary.currency}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- //services-->
<!-- footer -->

	<!-- //footer -->


<!-- js -->
    <script src="/static/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
 <!-- start-smooth-scrolling -->
    <script src="/static/js/move-top.js"></script>
    <script src="/static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/static/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>